<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление производством</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<div class="container shadow p-3 mb-5 bg-white rounded">

    <div class="jumbotron">
        <h1 class="display-4">Система управления заказами</h1>

        <hr class="my-4">


        <div class="alert alert-success" role="alert"><p class="text-center">Заполните данные о заказе:</p></div>

        <form action="" method="post" novalidate class="form-inline d-flex justify-content-center">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-end m-1">
                    <label class="m-2">Заказчик:</label>
                    {{ form.client() }}
                </div>

                <div class="d-flex justify-content-end m-1">
                    <label class="m-2">Изделие:</label>
                    {{ form.product() }}
                </div>

                <div class="d-flex justify-content-end m-1">
                    <label class="m-2">Количество:</label>
                    {{ form.count() }}

                </div>

                <div class="d-flex justify-content-end m-1">
                    <label class="m-2" >Желаемый срок:</label>
                    {{ form.date() }}
                </div>

                <div class="d-flex justify-content-end m-1">
                    <label class="m-2" >Цена:</label>
                    {{ form.price() }}
                </div>


                <div class="d-flex justify-content-end">
                    <label class="m-2">Приоритет:</label>
                    {{ form.priority() }}
                </div>


                {{form.submit()}}
            </div>
        </form>


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/practice.js"></script>
</body>
</html>

